/*Estilos generales*/
html,
body {
    background: #ffffff;
    font-style: normal;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}
body {
    position: relative;
    z-index: -10000;
}
strong {
    text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0%;
    font-size: 10px;
    font-weight: normal;
    line-height: normal;
    color: transparent;
}
p {
    margin: 0%;
}
figure {
    margin: 0%;
    padding: 0%;
}
ul {
    list-style: none;
    padding: 0%;
}
/*Estilos pagina home*/
header {
    background: #033a74;
    width: 100%;
    height: 100%;
    margin: 0%;
}

div.menu-container {
    background: #033a74;
}

.logo {
    width: 200px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
    animation: fade-zoom-in 1s;
}

ul.menu {
    padding-top: 10px;
    padding-right: 10px;
}
li.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.menu-link {
    position: relative;
    color: white;
    margin-left: 18px;
    margin-right: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: all 0.125s ease-in-out;
}
.menu-link:hover,
.menu-link.active {
    position: relative;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 1px;
    color: white;
    text-decoration: none;
    border-color: #ffda31;
}

.contact-container {
    background-image: url(/webroot/img/home-background.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    position: relative;
    color: white;
    width: 100%;
    height: 530px;
    font-style: normal;
    text-align: center;
    padding-top: 90px;
    z-index: -20;
}

.contact-container:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background: linear-gradient(90deg, #000000 -4.19%, rgba(51, 51, 51, 0) 99.85%);
    position: absolute;
    z-index: -10;
}

h1.title {
    color: white;
    font-size: 38px;
    font-weight: normal;
    margin: 0px 0px 10px 50px;
    line-height: 52px;
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    text-align: left;
    animation: fade-zoom-in 1s;
}
#animation-title{
    animation: showup 7s;
    animation-delay: 0s;
}
#animation-title-two{
    color: #FFFFFF;
    animation: slidein 7s;
    animation-delay: 1s;
}
strong {
    font-weight: bolder;
}
.boton {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    animation: fade-zoom-in 1s;
    transition: all 0.125s linear;
}
.boton:hover {
    transform: scale(1.1);
}

.boton-contacto {
    background-color: #ffda31;
    color: #033a74;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 55px;
    cursor: pointer;
    border: none;
}

#summary {
    animation: fade-zoom-in 1s;
    background:  #333333;
    color: #FFFFFF;
}
div.white-grid {
    position: relative;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 70%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateY(54px);
    z-index: 10000;
}
div.display-c {
    display: flex !important;
}
img.image-c {
    width: 55px;
    height: auto;
}
div.top-text {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

#who-we-are {
    padding: 9rem 0;
    background: #f9f9f9;
    z-index: -30;
    position: relative;
}
#title-who-we-are{
    color: #333333;
    font-weight: 700;
    font-size: 24px;
    margin: 40px 0px 40px 0px;

}
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aside-title {
    animation: fade-zoom-in 1s;
}
.uppercase-title {
    position: relative;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin: 1rem 0 1.5rem 0;
}
#who-we-are .uppercase-title {
    margin: 4rem 0 1.5rem 0;
}
.uppercase-title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 2px;
    right: 2px;
    border-bottom: 0.5px solid #000000;
}
.intro-description {
    text-align: center;
    font-weight: 300;
    max-width: 500px;
}

/*
span {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}*/
section.la-diferencia {
    background-color: white;
    margin-top: 75px;
    margin-bottom: 75px;
}
div.grid-diferencia {
    color: #333333;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}
.differences-logo {
    min-width: 60px;
}

div.text-d {
    margin-left: 15px;
}
.title-p {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
    text-transform: capitalize;
}
.text-p {
    font-weight: 300;
    font-size: 14px;
}
section.nuestros-productos {
    position: relative;
    color: white;
    background: #333333;
    width: 100%;
    height: 100%;
    padding-top: 115px;
    padding-bottom: 80px;
    z-index: 20;
}
div.title-box {
    width: 100%;
    height: 100%;
    z-index: 20;
}
div.title-box {
    position: relative;
    width: 100%;
    z-index: -10;
}
h3.title-n {
    background: #333333;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 14px;
    color: white;
    transform: translateY(-50px);
    font-weight: 700;
    z-index: 10;
}

div.title-box::after,
div.title-box::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    background: white;
    bottom: 60px;
}
div.title-box::after {
    content: "";
    right: 9%;
}
div.title-box::before {
    content: "";
    left: 9%;
}
div.white-background {
    width: 90%;
    background-color: white;
    color: black;
    border-radius: 5px;
    overflow: hidden;
}

.products-figure{
    width: 400px;
    height: 227px;
    overflow: hidden;

}
.white-background > div{
    width: 100%;
    height: 390px;
}
img.image-slide {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}
.title-slide {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.text-slide {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 20px;
}
a.slide-link {
    color: #333333;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.slick-arrow {
    z-index: 100;
}
.slick-prev::before,
.slick-next::before {
    font-size: 1.5rem;
    opacity: 0.6;
}
.our-team-slide > .slick-prev::before,
.our-team-slide > .slick-next::before {
    color: #033a74;
}
.slick-prev {
    left: -5px;
}
.slick-next {
    right: -5px;
}
section.nuestros-mercados {
    background: #f9f9f9;
    padding-bottom: 110px;
    padding-top: 75px;
}
h3.title-m {
    text-align: center;
}
h2.region {
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    list-style: none;
    text-transform: capitalize;
}

div.mercados-text {
    color: #333333;
    font-style: normal;
}
.country li {
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}
li.mexico {
    padding-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}
.map {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}
.map:hover {
    box-shadow: 4px 5px 10px #ccc;
    transform: scale(1.005);
}

/*section news*/

.featured-news {
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.featured-news:first-child {
    flex-direction: column;
    grid-area: A;
}
.featured-news:first-child .picture-container {
    height: 250px;
    overflow: hidden;
}
.featured-news:first-child figure {
    width: 100%;
}
.featured-news:first-child figure img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}
.featured-news:hover img {
    transform: scale(1.3);
}
.featured-news .summary {
    background: #f9f9f9;
    padding: 1rem;
}
.featured-news .summary .short-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.featured-news figure {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.featured-news figure img {
    max-height: 275px;
    transition: 0.25s ease-in-out;
}

section.noticias {
    background: #ffffff;
    padding-top: 5rem;
    padding-bottom: 100px;
}
div.grey-background {
    background-color: #f9f9f9;
}
img.image-news {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.noticias-fecha {
    color: #333333;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 15px;
}
h3.noticias-title {
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 15px;
}
.noticias-text {
    color: #333333;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 15px;
}
div.news-text {
    padding: 20px;
}
div.aling {
    vertical-align: middle;
}
a.noticias-link {
    color: #333333;
    text-decoration-line: underline;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.shadow {
    box-shadow: 0px 0px 10px lightgray;
}
div.buttom-noticias {
    text-align: center;
    margin-top: 60px;
}
a.bottom-button {
    border: 1px solid #033a74;
    color: #033a74;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-weight: bold;
    font-size: 16px;
}

/*Estilos de news-article*/

section.article-container {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
.breadcrumb {
    background-color: #f6f6f6;
}

div#social-media-container {
    border-left: 1px solid #48a8ee;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: fade-zoom-in 1s;
}
div.icons-container {
    margin-left: 30px;
}
p#social-media {
    color: #3173a8;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 30px;
}
.social-media-icons {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid #4181b6;
    border-radius: 50%;
}
.social-media-icons a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media-icons a:hover {
    text-decoration: none;
}
.social-media-icons a,
.social-media-icons i {
    font-size: 1rem;
    line-height: 1rem;
}
.social-media-icons #twitter i {
    color: #69abe8;
    border-color: #69abe8;
}
.social-media-icons #facebook i {
    color: #415a93;
    border-color: #415a93;
}
.social-media-icons #email i {
    color: #000000;
    border-color: #000000;
}
.social-media-icons #linkedin i {
    color: #3176b0;
    border-color: #3176b0;
}

h1.article-title {
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    animation: fade-zoom-in 1s;
}
.headline {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    font-size: 18px;
}
.article-body .date {
    color: #333333;
    font-weight: 300;
    font-size: 14px;
    margin-top: 1rem;
    animation: fade-zoom-in 1s;
}
.article-body br {
    margin-bottom: 0.7rem;
}
.article-text {
    color: #333333;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
div#transparent-grid {
    width: 100%;
    height: 135px;
}

/*styles our-products*/
.product-picture figure,
.article-picture figure {
    overflow: hidden;
    min-height: 200px;
    max-height: 400px;
    animation: fade-in 1s;
}
.product-picture figure img,
.article-picture figure img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}

section.about-product {
    background-color: #f9f9f9;
    padding-top: 150px;
    padding-bottom: 100px;
}
h3#transform-title {
    transform: translateY(-30px);
}
h2#about-title {
    color: #333333;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    padding-bottom: 30px;
}
p#about-text {
    color: #333333;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
#product-description,
.about-product {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 15%;
    padding-right: 15%;
}
#product-description h2 {
    color: #333333;
    font-weight: bold;
    font-size: 24px;
    margin: 2rem 0 1.5rem 0;
}
#product-description ul li {
    color: #333333;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    list-style-type: disc;
    margin-left: 30px;
}
footer {
    background-color: #033a74;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
}
/* styles for about-us*/
section.container-top-icons {
    background: #033a74;
    position: relative;
    color: white;
    width: 100%;
    height: 230px;
    font-style: normal;
    text-align: center;
    padding-top: 90px;
    z-index: -5;
}
section.container-top-icons:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 0px solid transparent;
    border-left: 2500px solid #033a74;
    border-bottom: 100px solid #f9f9f9;
    transform: translateY(0px);
    z-index: -10;
}
div#grid-about-us {
    transform: translateY(20px);
    animation: fade-zoom-in 1s;
}
section.about-us {
    position: relative;
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: #f9f9f9;
    z-index: -1000;
}

#title-about {
    animation: fade-zoom-in 1s;
}

#text-about-container {
    animation: fade-zoom-in 1s;
}

h2.about-us-title {
    padding-bottom: 30px;
}

.about-us-text {
    color: #333333;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding-left: 23%;
    padding-right: 23%;
}
section.team-section {
    padding-top: 75px;
    padding-bottom: 150px;
}
div.team-slide {
    background-color: #f9f9f9;
    padding: 25px;
}
.team-member-photo {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.team-member-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    padding-bottom: 10px;
}
.team-member-ocupation {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
}
.team-member-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
}
a.team-member-email {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #333333;
    padding-top: 10px;
}
section.contact-us {
    padding-bottom: 100px;
}
div.contact-information {
    padding-bottom: 40px;
}
.contact-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    padding-bottom: 20px;
}
.contact-text {
    color: #333333;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

/*Estilos pagina News*/

section.filtro {
    padding-top: 50px;
    padding-bottom: 50px;
    animation: fade-zoom-in 1s;
}
h2.f-title {
    color: #333333;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    padding-bottom: 50px;
}
div.button-container {
    text-align: center;
}
.link-button {
    border: 1px solid transparent;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.125s ease-in-out;
}
.link-button:hover,
.button-container.active .link-button {
    font-weight: 700;
    text-decoration: none;
    color: #023a74;
    border: 1px solid #023a74;
}

section.boletin {
    background: #f9f9f9;
    padding-top: 170px;
    padding-bottom: 50px;
    z-index: -10000000;
}
div.pseudo-lines {
    position: relative;
    display: flex !important;
    width: 100%;
    animation: fade-zoom-in 1s;
}
h3.boletin-title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    transform: translateY(-100px);
    font-weight: 300;
    background: #f9f9f9;
    z-index: 20;
}

div.pseudo-lines::after,
div.pseudo-lines::before {
    content: "";
    position: absolute;
    width: 39%;
    height: 1px;
    background: #333333;
    bottom: 107px;
}
div.pseudo-lines::after {
    content: "";
    right: 8%;
}
div.pseudo-lines::before {
    content: "";
    left: 8%;
}
div.boletin-slides {
    width: 100%;
    animation: fade-zoom-in 1s;
}

img.boletin-image {
    height: 235px;
}
section.siniestros {
    padding-top: 170px;
    padding-bottom: 200px;
}
.block-d > .d-flex {
    display: block !important;
}
section.todas-las-noticias {
    padding-bottom: 80px;
}
.pagination .page-item.active .page-link {
    background-color: #033a74;
    border-color: #033a74;
}
.pagination .page-link {
    color: #033a74;
}

/*Estilos @media*/
@media (min-width: 476px) {
    img.logo {
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .navbar-toggler {
        margin-right: 10px !important;
    }
    div.white-grid {
        padding-bottom: 0px !important;
    }
    h3.boletin-title {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 768px) {
    img.logo {
        margin-top: 10px;
        margin-left: 60px;
        margin-bottom: 10px;
    }
    ul.menu {
        margin-top: 10px;
        margin-right: 20px;
    }
    .navbar-toggler {
        padding-right: 20px !important;
    }
    div.content-left {
        justify-content: left !important;
    }
   
    h3.boletin-title {
        padding-left: 10px;
        padding-right: 10px;
    }

    #featured {
        display: grid;
        grid-template: "A ." "A ."/35% 65%;
        grid-gap: 1rem;
        grid-auto-rows: minmax(400px, auto);
    }
    .featured-news {
        flex-direction: row;
    }
    .featured-news:first-child {
        flex-direction: column;
    }
    .featured-news figure {
        width: 200px;
    }
}

@media (min-width: 992px) {
    img.logo {
        margin-top: 10px;
        margin-left: 90px;
    }
    ul.menu {
        margin-top: 10px;
        margin-right: 20px;
    }
    section.contact-container {
        height: 100%;
    }
    div.white-grid {
        padding-bottom: 20px !important;
    }
    section.container-somos {
        padding-bottom: 75px;
    }
    h2.subtitle-somos {
        margin-left: 25%;
        margin-right: 25%;
    }
    .text-cobertura {
        margin-left: 25%;
        margin-right: 25%;
    }
    section.nuestros-productos {
        padding-top: 140px;
    }
    section.noticias {
        padding-bottom: 125px;
    }
    img.image-news {
        width: 250px;
    }
    section.nuestros-mercados {
        padding-bottom: 150px;
    }
    div.left-aling {
        display: flex;
    }
    h3.title-m {
        text-align: left;
        justify-content: left;
    }
    div#justify-left {
        justify-content: left !important;
    }
    div.content-left {
        justify-content: left !important;
    }

    footer {
        text-align: left;
        font-size: 18px;
        padding-left: 120px;
    }
    div.p-desktop {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    section.boletin {
        padding-top: 200px;
        padding-bottom: 80px;
    }
    section.siniestros {
        padding-top: 200px;
    }
    section.todas-las-noticias {
        padding: 150px 0px 90px 0px;
    }
    .block-d > .d-flex {
        display: flex !important;
    }
}

@media (min-width: 1200px) {
    img.logo {
        margin-top: 10px;
        margin-left: 100px;
    }
    ul.menu {
        margin-top: 10px;
        margin-right: 100px;
    }
    section.contact-container {
        height: 530px;
    }
    h1.title{
        margin: 40px 200px 0px 200px;
        line-height: 65px;
    }
    div.white-grid {
        max-width: 54%;
        padding-bottom: 20px !important;
        transform: translateY(120px);
        
    }
    h2.subtitle-somos {
        margin-left: 25%;
        margin-right: 25%;
    }
    .text-cobertura {
        margin-left: 25%;
        margin-right: 25%;
    }
    section.nuestros-productos {
        padding-top: 140px;
    }
    section.noticias {
        padding-bottom: 125px;
    }
    img.image-news {
        width: 250px;
    }
    section.nuestros-mercados {
        padding-bottom: 75px;
    }
    div.left-aling {
        display: flex;
    }
    h3.title-m {
        display: flex;
        text-align: left;
        justify-content: left;
    }
    div#justify-left {
        justify-content: left !important;
    }

    div.content-left {
        justify-content: left !important;
    }
    #who-we-are {
        margin-top: 0rem;
        padding: 4rem 0;
    }

    footer {
        text-align: left;
        font-size: 18px;
        padding-left: 120px;
    }
    div.p-desktop {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    section.boletin {
        padding-top: 200px;
        padding-bottom: 80px;
    }
    section.siniestros {
        padding-top: 200px;
    }
    section.todas-las-noticias {
        padding-bottom: 150px;
    }
    .block-d > .d-flex {
        display: flex !important;
    }
}

/**Styling scrollable elements*/

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

@keyframes fade-zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:0;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-800px;color: transparent;}
    20% { margin-left:-800px;color: transparent;}
    35% { margin-left:0px;}
    100% {margin-left:0px;}
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
